* {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
  apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}